go 1.23

use (
	./libs
	./proto/gen/go
	./services/audit
	./services/auth
	./services/core
	./services/gateway
	./services/gc
	./services/metadata
	./services/proxy
	./services/scanner
	./services/signer
	./services/storage
	./services/tenant
	./services/webhook
)
